.socketLedLight {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
  z-index: 10000;
  border-radius: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  transition: background 400ms;
  display: none;
}

.socketLedLight.green {
  display: block;
  background: #4CAF50;
}

.socketLedLight.yellow {
  display: block;
  background: #FFEB3B;
  animation: blink 1s infinite alternate ease-out;
}

.socketLedLight.red {
  display: block;
  background: red;
}

@keyframes blink {
  from {opacity: 0}
  to {opacity: 1}
}
